@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



/**********
	CSS Variables defining default OAG values 
**********/
:root {
	/* OAG Primary color used throughout the theme */
	--oag-primary: #4a0f30;
	--oag-primary-dark: #430e2b;
	--oag-primary-darker: #380b24;

	/* OAG Report type label colors */
	--oag-report-01: #852828;
	--oag-report-02: #977E42;
	--oag-report-03: #005e59;
	--oag-report-04: #6c8a5a;

	/* OAG Neutral colors */
	--oag-neutral-01: #ebd9ab;
	--oag-neutral-02: #8f8f85;
	--oag-neutral-03: #2b3036;
	--oag-neutral-04: #efefe6;
	--oag-neutral-04s: #e1ddd0;

	/* OAG Accent colors */
	--oag-accent-01: #f0a361;
	--oag-accent-02: #e86e52;

	/* OAG footer bottom color */
	--oag-footer: #4b4f54;

	/* Color for body */
	--oag-body-color: #2b3036;

	/* Color for links */
	--oag-secondary-color: #852828;

	/* Color for hover effects */
	--oag-hover-color: #ebd9ab;

	/* Color for light-background */
	--oag-light-bg-color: #efefe6;

	/* Heading font family */
	--oag-heading-font: "Noto Serif", Georgia, Cambria, 'Times New Roman', Times, serif;

	/* Body font family */
	--oag-body-font: "Noto Sans", sans-serif;

	/* Border radius for labels and small images*/
	--oag-rds-sm: 12px 0px 12px 0px;

	/* Border radius for standart cards */
	--oag-rds: 0px 32px 0px 32px;

	--oag-shadow: 1px 3px 6px 0px #ddddda;

	--oag-shadow-lg: 6px 8px 16px 0px #ddddda;

	--oag-default-label-bg-color: #efefe6;

	--oag-default-border-color: #8f8f85;
}

/* Wrapper class added to facilitate overriding the GCWeb style and avoid race condition conflict*/
.oag-theme {


	/**********
		Scaffolding
	**********/
	a {
		color: var(--oag-primary);

		&:hover {
			color: var(--oag-body-color);
		}
	}

	hr {
		border-color: var(--oag-default-border-color);
	}

	details {
		border-radius: 0;

		> summary {
			border-radius: 0;
			color: var(--oag-primary);
			font-weight: bold;
		}

		&[open] > summary {
			margin-bottom: .75em!important;
		}
	}

	figure {
		blockquote {
			border: none;
			padding: 0 0 0 2em;
			position: relative;
	
			p {
				/* Add opening quote before first paragraph */
				&:first-of-type::before {
					color: var(--oag-secondary-color);
					content: "“";
					font-family: var(--oag-heading-font);
					font-size: 3em;
					font-weight: bold;
					position: absolute;
					top: -.5em;
					left: 0;
				}
	
				/* Add closing quote after last paragraph */
				&:last-of-type::after {
					content: "”";
				}
			}
		}
	
		figcaption {
			padding-left: 2em;
		}
	}

	fieldset {
		legend {
			float: none;
		}
	}

	input[type=date].form-control {
		line-height: 1.4375;
	}


	/**********
		Header
	**********/ 
	#wb-bnr {
		.brand {
			img, object {
				/* Remove max-height restriction for brand images and objects */
				max-height: none;
				max-width: 100%;
			}

			a {
				/* Ensure brand links fit content */
				display: inline-block;
				width: fit-content;
			}
		}

		#wb-srch {
			/* Align search bar to the end */
			align-self: end;

			input {
				border-color: var(--oag-primary);

				&[placeholder] {
					color: var(--oag-primary) !important;
				}
			}

			button {
				background-color: var(--oag-primary);
			}
		}

		& + hr {
			/* Border color for horizontal rule after banner */
			border-color: var(--oag-primary);
		}
	}


	/**********
		Menu
	**********/ 
	.gcweb-menu { 
		/* The gcweb-menu style for basic html is on the bottom, outside the .oag-theme class*/
		button[aria-haspopup="true"] {
			background-color: var(--oag-primary);
			border: white;

			&:hover, &:focus, [aria-expanded="true"] {
				background-color: var(--oag-primary);
				border-color: var(--oag-primary);
				color: white;
			}

			&:hover {
				background-color: #1A303C;
				color: white;
			}
		}

		[role=menu] {
			background-color: var(--oag-primary);

			[role=menuitem]:not(:has(+ ul[role="menu"])) {
				/* Underline menu items without submenus */
				text-decoration: underline;
			}
			
			[role=menu] {
				/* Styling for nested menus */
				min-height: 330px;
				background-color: white;

				li {
					
					&:first-child {
						/* Margin for first child */
						margin-bottom: 0.5em;
					}

					&:last-child {
						position:static
					}

					[role="menuitem"] {
						/* Avoid breaking inside menu items */
						break-inside: avoid;
						color: var(--oag-primary);
					}
				}
			}
		}
	}


	/**********
		Footer
	**********/ 
	#wb-info {
		.gc-main-footer {
        background-color: var(--oag-body-color);
    }

    .oag-footer-heading { /* footer h4 edit */
        color: #fff;
        margin-bottom: .5rem;
        font-size: 22px; /* 16.5 */
        line-height: 1.2;
        font-weight: 700;
    }

    .oag-footer-subheading {
        color: #fff;
        margin-bottom: .25rem;
    }

    .oag-footer-section {
        margin-top: 1rem;
    }

    .oag-footer-links {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .oag-footer-links li {
        margin-bottom: .5rem;
    }
}
	

	/**********
		OAG Reports Banner
	**********/ 
	.oag-banner-padding {
		padding: 0 44px;
	}

	@media screen and (max-width: 768px) {
		.oag-banner-padding {
			padding: 0 30px;
		}
	}


	/**********
		Headings
	**********/ 
	h1, .h1, h2, .h2 {
		/* color: var(--oag-primary); */
		font-family: var(--oag-heading-font);
		font-weight: 600;
	}

	h1, .h1 {
		font-size: 44px; /* 33pt */
		color: var(--oag-primary-dark); /* DARK SHADE */
	}

	h2, .h2 {
		  font-size: 36px; /* 27pt */
		  color: var(--oag-primary); /* BASE COLOR */
	}

	h3, .h3, h4, .h4, h5, .h5, h6, .h6  {
		color: var(--oag-body-color);
		font-family: var(--oag-body-font);
		font-weight: 600;
	}

		h3, .h3 {
		  font-size: 30px; /* 22pt */
		  color: var(--oag-primary-darker);/* DARKER SHADE */
	}

		h4, .h4 {
		  font-size: 24px; /* 18pt */
	}
		  
		h5, .h5 {
		  font-size: 20px; /* 15pt */
	}

		h6, .h6 {
		  font-size: 18px; /* 13pt */
	}

	@media screen and (max-width: 768px) {
		h1 {
			font-size: 36px;
		}
		h2 {
			font-size: 32px;
		}
		h3 {
			font-size: 28px;
		}
	}

	h1#wb-cont, hgroup#wb-cont h1 {
		border: none;
		padding-bottom: 0;
		margin-bottom: 30px;
		max-width: 33ch;
	}

	h1#wb-cont {
		margin-bottom: 60px;	
	}	

	.oag-hr {
		border: none;
		height: 2px;
		background-color: var(--oag-neutral-04s);
		margin: 24px 0px 24px 0px;
	}

	.oag-lead-01 {
		font-family: var(--oag-heading-font);
		font-weight: 300;
		font-size: 52px;
		padding: 1em 0 2em;
	}

	@media screen and (max-width: 768px) {
		.oag-lead-01 {
			font-size: 36px;
		}
	}


	/**********
		Custom OAG color classes (AA contrast using large text)
	**********/ 
	.oag-prime {
		color: var(--oag-primary); /* Purple Trillium */
	}

	.bg-oag-prime {
		background-color: var(--oag-primary);
	}

	.oag-report-01 {
		color: var(--oag-report-01); /* Fallen Leaves */
	}

	.bg-oag-report-01 {
		background-color: var(--oag-report-01);
	}

	.oag-report-02 {
		color: var(--oag-report-02); /* Lakeside Daisy */
	}

	.bg-oag-report-02 {
		background-color: var(--oag-report-02);
	}

	.oag-report-03 {
		color: var(--oag-report-03); /* Arctic Water */
	}

	.bg-oag-report-03 {
		background-color: var(--oag-report-03);
	}

	.oag-report-04 {
		color: var(--oag-report-04); /* Lichen */
	}

	.bg-oag-report-04 {
		background-color: var(--oag-report-04);
	}

	.oag-neutral-01 {
		color: var(--oag-neutral-01); /* Mountain Lion */
	}

	.bg-oag-neutral-01 {
		background-color: var(--oag-neutral-01);
	}

	.oag-neutral-02 {
		color: var(--oag-neutral-02); /* Canadian Rockies */
	}

	.bg-oag-neutral-02 {
		background-color: var(--oag-neutral-02);
	}

	.oag-neutral-03, .oag-dark { 
		color: var(--oag-neutral-03); /* Timber Wolf */
	}

	.bg-oag-neutral-03, .bg-oag-dark {
		background-color: var(--oag-neutral-03);
	}

	.oag-neutral-04 {
		color: var(--oag-neutral-04); /* Aged Parchment */
	}

	.bg-oag-neutral-04 {
		background-color: var(--oag-neutral-04);
	}

	.oag-neutral-04s {
		color: var(--oag-neutral-04s); /* Aged Parchment (darker shade) */
	}

	.bg-oag-neutral-04s {
		background-color: var(--oag-neutral-04s);
	}

	.oag-accent-01 {
		color: var(--oag-accent-01); /* Barn Swallow */
	}

	.bg-oag-accent-01 {
		background-color: var(--oag-accent-01);
	}

	.oag-accent-02 {
		color: var(--oag-accent-02); /* Monarch Butterfly */
	}

	.bg-oag-accent-02 {
		background-color: var(--oag-accent-02);
	}

	.oag-footer {
		color: var(--oag-footer); /* Footer (variant of Timber Worf) */
	}

	.bg-oag-footer {
		background-color: var(--oag-footer);
	}


	/**********
		OAG Table
	**********/
	table, th, td {
		border: 1px solid var(--oag-light-bg-color) !important;
	}

	thead {
		color: inherit;
		background-color: inherit;
		font-size: 18px;
	}

	th {
		font-weight: 600;
	}

	.oag-sub-thead {
		color: inherit;
		font-weight: 600;
		background-color: var(--oag-light-bg-color);
	}

	.oag-row-divider {
		border-top: 3px solid #9c8e63;
	}

	.table-striped > tbody > tr:nth-child(odd) > td,
	.table-striped > tbody > tr:nth-child(odd) > th {
		background-color: var(--oag-light-bg-color);
	}


	/**********
		OAG Well
	**********/
	.well {
		min-height: 20px;
		padding: 16px;
		margin-bottom: 16px;
		background-color: var(--oag-light-bg-color);
		border: 1px solid var(--oag-light-bg-color);
		border-radius: 0px;
		-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05);
	}

	.oag-well-white {
		background-color: #fff;
		border: 1px solid var(--oag-light-bg-color);
		padding: 16px;
	}

	.oag-well-primary {
		color: #fff;
		background-color: var(--oag-primary);
		border: none;
		padding: 16px;
	}

	.oag-well-secondary {
		color: inherit;
		background-color: inherit;
		border: none;
		padding: 16px;
	}


	/**********
		OAG Panel
	**********/

	.panel-default {
		border-radius: 0px;
		border-color: var(--oag-light-bg-color);
	}

	.panel-default > .panel-heading {
		border-radius: 0px;
		color: #6d6345;
		background-color: var(--oag-light-bg-color);
		border-color: var(--oag-light-bg-color);
	}

	.panel-default > .panel-heading + .panel-collapse .panel-body {
		border-top-color: var(--oag-light-bg-color);
	}

	.panel-default > .panel-footer + .panel-collapse .panel-body {
		border-bottom-color: var(--oag-light-bg-color);
	}

	.panel-primary {
		border-radius: 0px;
		border-color: var(--oag-primary);
	}
		
	.panel-primary > .panel-heading {
		border-radius: 0px;
		color: #fff;
		background-color: var(--oag-primary);
		border-color: var(--oag-primary);
	}
			
	.panel-primary > .panel-heading + .panel-collapse .panel-body {
		border-top-color: var(--oag-primary);
	}
			
	.panel-primary > .panel-footer + .panel-collapse .panel-body {
			border-bottom-color: var(--oag-primary);
	}


	/**********
		OAG Accordion/Toggle
	**********/
	summary {
		background-color: var(--oag-light-bg-color);
		padding: 8px 32px;
	}

	.wb-toggle:hover {
		background-color: var(--oag-light-bg-color);
	}

	.wb-toggle:focus {
		background-color: var(--oag-light-bg-color);
	}

	.wb-toggle {
		border-left: none;
		border-top: none;
		border-right: none;
		border-bottom: 2px var(--oag-light-bg-color) solid;
	}


	/**********
		Buttons
	**********/
	.btn {
		border: none;
		border-radius: unset;
		font-size: 1em;
		font-family: var(--oag-body-font);

		&.btn-sm {
			font-size: .85em;
            padding: .5em 1.25em;
		}
		
		&.btn-lg {
			font-size: 1.25em;
			padding: .5em 1.5em;
		}

		&.btn-primary {
			background-color: var(--oag-primary);
			color: #fff;
	
			&:hover {
				background-color: #1A303C;
				border-color: #1A303C;
			}
		}

		&.btn-default {
			background-color: var(--oag-light-bg-color);
			color: var(--oag-body-color);

			&:hover {
				background-color: var(--oag-neutral-04);
				color: var(--oag-body-color);
			}
		}
	}

	.input-group-btn .btn {
		border: 1px solid var(--oag-primary);
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		font-size: initial;
	}


	/**********
		Components
	**********/
	
	.alert-info {
		border-color: var(--oag-secondary-color);
		border-image: linear-gradient(to bottom, 
			var(--oag-secondary-color) 16px, var(--oag-secondary-color) 16px, 
			transparent 16px, transparent 48px, 
			var(--oag-secondary-color) 48px, var(--oag-secondary-color) 48px
		) 1 100%;
		color: #676C72;

		&::before {
			color: var(--oag-secondary-color);
		}

		& > :last-child {
		 padding-bottom: 0px;
		}

	}

	.label {
		border: none;
		border-radius: var(--oag-rds-sm);
		display: inline-block;
		font-weight: 400;
		line-height: 1.25;
		padding: .5em 1.25em;
		text-align: left;;
		white-space: normal;

		&.label-default {
			background: var(--oag-default-label-bg-color);
			border-color: var(--oag-default-border-color);
			color: #4B5B62;
		}

		&.label-primary {
			background: var(--oag-primary);
			color: #fff;
		}
		&[data-report-type='auditor-general-reports'] {
			background: var(--oag-report-01);
			color: #fff;
		}

		&[data-report-type='commissioner-of-the-environment-and-sustainable-development-reports'] {
			background: var(--oag-report-04);
			color: #fff;
		}

		&[data-report-type='northern-legislative-assemblies-reports'] {
			background: var(--oag-report-03);
			color: #fff;
		}

		&[data-report-type='commentaries-on-financial-audits'], 
		&[data-report-type='special-examinations'], 
		&[data-report-type='other-products'] {
			background: var(--oag-report-02);
			color: #333;
		}

		~ time {
			font-size: 75%;
			font-weight: 700;
			white-space: nowrap;
		}
	}

	.wb-tabs.vertical {
		display: flex;
		height: 100%;

		[role="tablist"] {
			flex: 0 0 30%;
			display: block;
			max-width: 300px;

			li {
				background: none;
				border: none;
				display: block;
				left: 0;
				padding: 0;
				margin-left:0;
				text-align: left;				
				
				a {
					border-bottom: 1px solid var(--oag-body-color);
					color: var(--oag-body-color);
					display: block;
					padding: 1em .25em;

					&:hover {
						background-color: var(--oag-default-label-bg-color);
						border-color: var(--oag-primary);
						color: var(--oag-primary);
					}
				}							
			}

			li.active {
				background: none;

				a {
					background: none;
					border-color: var(--oag-body-color);
					border-width: 0 0 3px;
					font-weight: 600;

					&:focus, 
					&:active,
					&:hover {
						border-color: var(--oag-body-color);
						color: var(--oag-body-color);
					}
				}				
			}
		}

		.tabpanels {
			border: none;
			flex: 0 0 70%;
			height: 100%;
			padding-left: 3em;
			overflow-y: auto;

			details[open]{
				border: none;
				.tgl-panel {
					padding: 0 15px;
				}
			}
		}
	}

	.overlay-def .modal-header {
		background: var(--oag-primary);
	}

	.oag-card {
		background-color: #fff;
		border: 1px solid var(--oag-default-border-color);
        border-radius: var(--oag-rds);
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		overflow: hidden;
        padding: 20px;
		position: relative;
		transition: all ease .5s;

		& > img:first-child {
			display: block;
			margin: -20px -20px 20px -20px; 
			width: calc(100% + 40px); /* 2 × padding */
		}

		.label + time {
			margin-left: 1em;
		}

		time {
			font-weight: 700;
		}

		h2, h3 {
			margin-top: 0;

			a {
				text-decoration: none;
			}
		}

		h3.h6 {	
			font-family: var(--oag-heading-font);
			font-weight: 500;
			color: var(--oag-primary);
		}

		&.bg-light {
			border: none;
			box-shadow: var(--oag-shadow);
		}

		&.oag-heading-as-body {
			h2, h3 {
				font-family: var(--oag-body-font);
				font-size: 1em;
				font-weight: normal;
				color: inherit;

				a {
					color: var(--oag-body-color);
					text-decoration: none;

					&:hover {
						color: var(--oag-primary);
					}
				}
			}
		}

		&.bg-light:has(.stretched-link):hover {
			box-shadow: var(--oag-shadow-lg);
		}

		.btn-link {
			color: var(--oag-primary);
			background: linear-gradient(to right, var(--oag-hover-color) 0%, var(--oag-hover-color) 100%);
			background-size: 0% 100%;
			background-repeat: no-repeat;
			transition: background-size 0.3s ease-in-out;
	
			&:hover {
				background-size: 100% 100%;
				text-decoration: none;
			}
	
			&:not(:hover) {
				background-size: 0% 100%;
				transition: none;
			}
		}		
	}

	.infobox {
		dt, dd {
			line-height: 1.2;
		}
	}

	.wb-paginate-pager {
		.pagination {
			> li {
				> button {
					color: var(--oag-primary);
				}

				&.active {
					> button {
						background-color: var(--oag-primary);
						border-color: var(--oag-primary);;
						color: #fff;
					}
				}
			}
		}
	}	

	a.gc-dwnld {
		background-color: var(--oag-light-bg-color);
		border: none;
		border-radius: 0;
		box-shadow: none;
		color: var(--oag-body-color);
		gap: 0;
		padding: 0;
		text-decoration: none;

		> img {
			border-width: 2px;
		}

		> span {
			flex-grow: 1;
			padding: 0.5em 1.25em;

			&:after {
				content: "\e025";
				font-family: "Glyphicons Halflings";
				margin-left: 10px;
				position: relative;
                top: 2px;
			}
		}

		&.vertical, &:not(:has(> img)) {
			gap: 0;

			> span {
				text-align: center;

				br {
					display: none;
				}
			}
		}

		&:hover {
			background-color: rgb(225, 225, 216);
			color: var(--oag-body-color);

			> img {
				box-shadow: none;
			}
		}
	}

	.oag-filter-options {
		> summary {
			h2 {
				color: var(--oag-primary);
				font-family: var(--oag-body-font);
				font-size: 1em;
				font-weight: bold;
				margin: 0;
			}
		}
		
		.form-group > label, fieldset > legend {
			/* Label styling for filter fields */
			color: var(--oag-default-border-color);
			font-weight: 100;
			font-size: .85em;
		}

		fieldset > legend {
			margin-bottom: 0;
		}

		ul {
			.checkbox {
				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}


	/**********
		Utilities
	**********/

	.text-primary {
		color: var(--oag-primary);
	}

	.text-white {
		color: #fff !important;
	}

	.fnt-hdng {
		font-family: var(--oag-heading-font);
	}

	.bg-light {
		background-color: var(--oag-light-bg-color) !important;
	}

	.oag-rds {
		border-radius:var(--oag-rds);
	}

	.oag-rds-sm {
		border-radius:var(--oag-rds-sm);
	}

	.oag-brdr {
		border: 1px solid var(--oag-neutral-04s);
	}

	.oag-shadow {
		box-shadow: var(--oag-shadow);
	}


	/**********
	Home Page
	**********/
	&.home {
		#wb-bnr + hr {
			border-color: #ddd;
		}

		.gcweb-menu button[aria-haspopup=true] {
			background-color: #fff;
			border-color: #fff;
			color: var(--oag-primary);

			&:hover, &[aria-expanded="true"] {
				background-color: var(--oag-primary);
				color: #fff;
			}
		}

		h2 {
			font-size: 2.4375rem;
		}

		.lead {
			color: #fff;
			font-family: var(--oag-heading-font);
			font-size: 3em;
			padding: 1em 0 2em;
		}

		.reports {
			margin-top: -4em;
		}

		.oag-card {	 
			border-width: 2px;		

			.alert {
				background: none;

				time {
					color: var(--oag-body-color);
					font-family: var(--oag-heading-font);
					font-size: 2.5625rem;
					margin: 0;
				}
			}
		}
	}


	/**********
	For compatibility with MWSW limitations
	**********/
	.title hgroup#wb-cont {
		margin-top: 0;
	}
	.title:has(h1) ~ .image {
		margin-bottom: 40px;
	}

	.mwsbutton:has(.btn-block) + .download-link, .mwsbutton:has(.btn-block){
		margin-bottom: 20px;
	}

	div:not(.cmp-container):has(.tabbed-interface) {
		margin-top: 30px;
	}
	.oag-right-content {
		padding-left: 25px;
	}
	.cmp-container .title:first-child h2:first-of-type {
			margin-top: 0;
	}
	main .col-xs-12.col-lg-12 {
		clear: both;
		float: none;
	}
	

	/**********
		Extra-small screens
	**********/
	@media (max-width: 767px) {	
		.gc-main-footer .img-responsive:last-of-type {
			padding-bottom: 15px;
		}

		&.home .lead {
			font-size: 1.5em;
			padding: 0 0 1.5em;
		}
		.oag-right-content .image {
			margin-bottom: 20px;
			img {
				width: 100%;
			}					
		}
	}


	/**********
		Small screens
	**********/
	@media (max-width: 992px) {
		.gcweb-menu [role="menu"] [role="menu"] li:first-child [role="menuitem"], .gcweb-menu [role="menu"] [role="menu"] li:last-child [role="menuitem"] {
			background-color: unset;
		}

		.wb-tabs.vertical {			
			[role="tablist"] {				
				display: none;
			}

			.tabpanels {
				flex: 0 0 100%;
				padding-left: 0;
			}
		}

		&.home .lead {
			font-size: 2em;
		}
	}
	@media (max-width: 992px) {
		.oag-right-content {
			padding-left: 15px;
		}
	}

}

.wb-disable .gcweb-menu [role=menu] > li ul {
	display: none !important;
}
